<h1 mat-dialog-title>Add  Form</h1>
<form [formGroup]="productForm">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="firstName" matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
          </mat-form-field>
          
           
        </div>
</form>

      <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close="">Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="editData?updateproduct():addProduct()">{{actionbtn}}</button>

      </div>
