
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Crud App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Add Form</button>
  
  </mat-toolbar>
  <div class="container">
    <div style="margin: top 10px;">
    
      <mat-form-field appearance="standard">
        <mat-label class="filter">Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
         
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
            <td mat-cell *matCellDef="let row"> {{row.picture}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editProduct(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteProduct(row.id)" color="warn">
              <mat-icon>delete </mat-icon>
            </button>   
            </td>
          </ng-container>
      
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
      
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr> 
        </table>
      
        <mat-paginator
                [length]="recordsLength" [pageSize]="pageSize" [pageSizeOptions]="[20, 50, 100]"
                [pageIndex]="currentPage">
            </mat-paginator></div>

    </div>

  </div>

